<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Profile | NoteShare</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/styles/style.css}" type="text/css">
</head>
<body class="largeForm">
<h1>View Profile</h1>
<form action="#" class="form" th:object="${user}">
    <!-- Personal Details -->
    <h2 class="form-heading">Personal Details</h2>
    <label for="firstName">First Name</label>
    <input class="divided-field" disabled th:field="*{firstName}" type="text"/>
    <label for="lastName">Last Name</label>
    <input class="divided-field" disabled th:field="*{lastName}" type="text"/>

    <label for="age">Age</label>
    <input class="short-field" disabled th:field="*{age}" type="number"/>

    <div class="clearfix"></div>

    <!-- Account Details -->
    <h2 class="form-heading">Account Details</h2>
    <label for="email">E-mail</label>
    <input class="long-field" disabled th:field="*{email}" type="email"/>

    <label for="username">Username</label>
    <input class="long-field" disabled th:field="*{username}" type="text"/>

    <div th:with="isStudent = ${user instanceof T(com.assignment.springapp.models.Student)}">
        <div th:if="${isStudent}">
            <!-- University Information -->
            <h2 class="form-heading">University Information</h2>
            <label for="identificationNumber">Student ID number</label>
            <input class="short-field" disabled th:field="*{identificationNumber}" type="number"/>

            <label for="university">Name of University</label>
            <input class="long-field" disabled th:field="*{university}" type="text"/>
        </div>

        <div th:unless="${isStudent}">
            <!-- Information on Area of Expertise -->
            <h2 class="form-heading">Information on Area of Expertise</h2>
            <label for="expertise">Field of Expertise</label>
            <input class="long-field" disabled th:field="*{expertise}" type="text"/>
            <label for="yearsOfExperience">Years of Experience</label>
            <input class="short-field" disabled th:field="*{yearsOfExperience}" type="number"/>
        </div>
    </div>
</form>
<br/>
<div sec:authorize="isAuthenticated()" th:with="isCurrentUser = ${#authentication.getPrincipal().getUsername()}==${user.username}">
    <a th:unless="${isCurrentUser}" th:href="@{'/profile/' + ${user.username} + '/subscribe' }">Subscribe to this user</a>
    <br />
    <a th:unless="${isCurrentUser}" th:href="@{'/profile/' + ${user.username} + '/favourite' }"> Make this user your favourite!</a>
    <br />
    <a th:if="${isCurrentUser}" th:href=@{/profile/showsubscriptions}> Show your subscriptions </a>
    <br />
    <div th:if="${isCurrentUser}">
        <div sec:authorize="hasAuthority('student')">
    		<a th:href="@{/notes/my}">Go to My Notes</a>
		</div>
   		<div sec:authorize="hasAuthority('expert')">
    		<a th:href="@{/reviews/my}">Go to My Reviews</a>
		</div>
    
        <div sec:authorize="hasAuthority('student')">
    		<a th:href="@{/students/edit}">Edit profile (Student)</a>
    	</div>
    	<div sec:authorize="hasAuthority('expert')">
    		<a th:href="@{/experts/edit}">Edit profile (Expert)</a>
   		</div>
    
	    <div>
            <form th:action="@{/profile/remove}" method="POST" id="remove" style="text-align: center; padding: 0; margin: 0">
                <input type="hidden" name="_method" value="DELETE">
                <a href="javascript:document.forms.remove.submit()">Remove profile</a>
            </form>
		   	
            <br/>
            <form th:action="@{/logout}" method="POST" id="logout" style="text-align: center; padding: 0; margin: 0">
                <a href="javascript:document.forms.logout.submit()">Logout</a>
            </form>
		</div>
    </div>
</div>
     
<div sec:authorize="!isAuthenticated()">
    <a th:href="@{/students/login}">Login as student</a>
    <br/>
    <a th:href="@{/experts/login}">Login as expert</a>
</div>
</body>
</html>
