<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Subscriptions | NoteShare</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/styles/style.css}" type="text/css">
</head>
<body class="listNotes">
    <h1>Your subscriptions</h1>
	<div>
	<h2>Favourite user</h2>
		<table>
	        <thead>
	            <tr>
	                <th>Username</th>
	                <th>Name</th>
	                <th>Surname</th>
	                <th>Remove</th>
	            </tr>
	        </thead>
                <tbody>
                    <tr th:if="${favourite == null}"> 
                    	<td colspan="4">You do not have a favourite user yet</td>
	            	</tr>
	            	<tr th:if="${favourite != null}">
	                <td><span th:text="${favourite.username}">Username</span></td>
	                <td><span th:text="${favourite.firstName}">Name</span></td>
	                <td><span th:text="${favourite.lastName}">Surname</span></td>
        			<td>
	        			<form th:action="@{/profile/removeFavourite}" method="POST">
	                        <input type="hidden" name="_method" value="DELETE">
	                        <input type="submit" value="Remove" class="delete">
	                    </form>
                    </td>
        				
                    </tr>
	        </tbody>
	    </table>
	    <div th:if="${favourite != null}">
	    	<a th:href=@{/profile/showfavouritecontent}>Show content from your favourite user</a>
	    </div>
	</div>

	<div>
	    <h2>People you follow</h2>
	    <table>
	        <thead>
	            <tr>
	                <th>Username</th>
	                <th>Name</th>
	                <th>Surname</th>
	                <th>Remove</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr th:if="${followings.empty}">
	                <td colspan="4">You do not follow anyone yet</td>
	            </tr>
	            <tr th:each="user : ${followings}">
	                <td><span th:text="${user.username}">Username</span></td>
	                <td><span th:text="${user.firstName}">Name</span></td>
	                <td><span th:text="${user.lastName}">Surname</span></td>
        			<td>
 	        			<form th:action="@{'/profile/removeSubscription/' + ${user.username}}" method="POST">
	                        <input type="hidden" name="_method" value="DELETE">
	                        <input type="submit" value="Remove" class="delete">
	                    </form>       				
        			</td>
	            </tr>
	        </tbody>
	    </table>
	    <div th:unless="${followings.empty}">
	    	<a th:href=@{/profile/showsubscriberscontent}>Show content from people you follow</a>
	    </div>
	</div>
	
	<div>
	    <h2>People who follow you</h2>
	    <table>
	        <thead>
	            <tr>
	                <th>Username</th>
	                <th>Name</th>
	                <th>Surname</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr th:if="${followers.empty}">
	                <td colspan="4">No one follows you yet</td>
	            </tr>
	            <tr th:each="user : ${followers}">
	                <td><span th:text="${user.username}">Username</span></td>
	                <td><span th:text="${user.firstName}">Name</span></td>
	                <td><span th:text="${user.lastName}">Surname</span></td>
	            </tr>
	        </tbody>
	    </table>
	</div>
	
	
    <div sec:authorize="isAuthenticated()">
        <br/>
        <a th:href="@{/profile}">Go to My Profile</a>
        <br/>
        <form th:action="@{/logout}" method="POST" id="logout">
            <a href="javascript:document.forms.logout.submit()">Logout</a>
        </form>
    </div>
</body>
</html>