<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Subscribed To | NoteShare</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/styles/style.css}" type="text/css">
</head>
<body class="listNotes">
	<!-- Contains note of favourite if favourite is of type Student -->
	<div th:if="${notes != null}">
	    <h2>Notes from Students you follow</h2>
	    <table>
	        <thead>
	            <tr>
	                <th>Title</th>
	                <th>Content</th>
	                <th>Subject</th>
	                <th>Creator</th>
	                <th></th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr th:if="${notes.empty}">
	                <td colspan="4">No notes from Favourite student</td>
	            </tr>
	            <tr th:each="note : ${notes}">
	                <td><span th:text="${note.title}">Title</span></td>
	                <td><span th:text="${note.content}">Content</span></td>
	                <td><span th:text="${note.subject}">Subject</span></td>
	                <td><a th:href="@{'/profile/' + ${note.author.username}}" th:text="${note.author.username}">Creator</a></td>
	            	<td><a th:href="@{'/notes/showNoteReviews/' + ${note.id}}">Show reviews</a></td>
	            </tr>
	        </tbody>
	    </table>
	</div>
	
	<!-- Contains reviews of favourite if favourite is of type Expert -->
	<div th:if="${reviews != null}">
	    <h2>Reviews from Experts you follow</h2>
	    <table>
	        <thead>
	            <tr>
	                <th>Value</th>
	                <th>Comment</th>
	                <th>Note Title</th>
	                <th>Note Content</th>
	                <th>Note Subject</th>
	            </tr>
	        </thead>
	        <tbody>
	            <tr th:if="${reviews.empty}">
	                <td colspan="4">No reviews from favourite Expert</td>
	            </tr>
	            <tr th:each="review : ${reviews}">
	                <td><span th:text="${review.value}">Value</span></td>
	                <td><span th:text="${review.comment}">Comment</span></td>
	                <td><span th:text="${review.getNote().title}">Note Title</span></td>
	                <td><span th:text="${review.getNote().content}">Note Content</span></td>
	                <td><span th:text="${review.getNote().subject}">Note Subject</span></td>
	            </tr>
	        </tbody>
	    </table>
	</div>
    <div sec:authorize="isAuthenticated()">
        <br/>
        <a th:href="@{/profile}">Go to My Profile</a>
        <br/>
        <form th:action="@{/logout}" method="POST" id="logout">
            <a href="javascript:document.forms.logout.submit()">Logout</a>
        </form>
    </div>
</body>
</html>