<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student Login | NoteShare</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}">
</head>
<body class="smallForm">
    <a th:href="@{/}" title="NoteShare Homepage">
        <img th:src="@{/images/logo.png}" alt="NoteShare logo" class="logo">
    </a>
    <h1>Welcome to NoteShare for Students</h1>

    <div class="box box__success" th:if="${message}">
        <span th:text="${message}"></span>
    </div>
    <div class="box box__error" th:if="${error}">
        <span th:text="${error}"></span>
    </div>

    <form th:action="@{/students/login}" method="POST">
        <label for="username">Username</label>
        <input id="username" name="username" type="text" autofocus="autofocus" />

        <label for="password">Password</label>
        <input id="password" name="password" type="password"/>

        <input type="submit" value="Login"/>
        <input type="reset" value="Reset"/>
    </form>

    <div id="alinks">
        <p><a th:href="@{/students/register}">Go to account creation</a></p>
        <p><a th:href="@{/notes/read}">View notes without creating an account</a></p>
	</div>
</body>
</html>