<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Student Sign Up | NoteShare</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}">
</head>
<body class="largeForm">
	<h1>Register as Student</h1>
    <form action="#" th:action="@{/students/register}" th:object="${student}" method="post" class="form">
        <!-- Personal Details -->
        <h2 class="form-heading">Personal Details</h2>
        <label for="firstName">First Name</label>
        <input type="text" th:field="*{firstName}" class="long-field" placeholder="First"/>
        <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="form-label__error">FirstName Error</p>
        <label for="lastName">Last Name</label>
        <input type="text" th:field="*{lastName}" class="long-field" placeholder="Last"/>
        <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="form-label__error">LastName Error</p>

        <label for="age">Age</label>
        <input type="number" th:field="*{age}" class="short-field"/>
        <p th:if="${#fields.hasErrors('age')}" th:errors="*{age}" class="form-label__error">Age Error</p>

        <div class="clearfix"></div>

        <!-- Account Details -->
        <h2 class="form-heading">Account Details</h2>
        <label for="email">E-mail</label>
        <input type="email" th:field="*{email}" class="long-field"/>
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="form-label__error">Email Error</p>

        <label for="username">Username</label>
        <input type="text" th:field="*{username}" class="long-field"/>
        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="form-label__error">Username Error</p>

        <label for="password">Password</label>
        <input type="password" th:field="*{password}" class="long-field"/>
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="form-label__error">Password Error</p>
        
        <!-- University Information -->
        <h2 class="form-heading">University Information</h2>
        <label for="identificationNumber">Student ID number</label>
        <input type="number" th:field="*{identificationNumber}" class="short-field"/>
        <p th:if="${#fields.hasErrors('identificationNumber')}" th:errors="*{identificationNumber}" class="form-label__error">IdentificationNumber Error</p>

        <label for="university">Name of University</label>
        <input type="text" th:field="*{university}" class="long-field"/>
        <p th:if="${#fields.hasErrors('university')}" th:errors="*{university}" class="form-label__error">University Error</p>
        
        <!-- Buttons -->
        <input type="submit" value="Confirm"/>
        <input type="reset" value="Reset"/>
    </form>
</body>
</html>
