<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Account Details | NoteShare</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}">
</head>
<body class="smallForm">
    <img th:src="@{/images/logo.png}" alt="NoteShare logo" class="logo">
    <h1>Welcome to NoteShare</h1>

    <div>
        <p>Logged in as: <span sec:authentication="principal"></span></p>
        <div sec:authorize="isAuthenticated()">
            <p>Details: <span sec:authorization="principal.authorities"></span></p>
            <ul th:with="user = ${#authentication.getPrincipal().getStudent()}">
                <li>ID: <span th:text="${user.getId()}"></span></li>
                <li>First Name <span th:text="${user.getFirstName()}"></span></li>
                <li>Last Name: <span th:text="${user.getLastName()}"></span></li>
                <li>Age: <span th:text="${user.getAge()}"></span></li>
                <li>Email: <span th:text="${user.getEmail()}"></span></li>
                <li>Username: <span th:text="${user.getEmail()}"></span></li>
                <li>Password: <span th:text="${user.getPassword()}"></span></li>
            </ul>
            <ul sec:authorize="hasAuthority('student')">
                <li>Identification Number: <span th:text="${#authentication.getPrincipal().getStudent().getIdentificationNumber()}"></span></li>
                <li>University: <span th:text="${#authentication.getPrincipal().getStudent().getUniversity()}"></span></li>
            </ul>
            <ul sec:authorize="hasAuthority('expert')">
                <li>Expertise <span th:text="${#authentication.getPrincipal().getExpert().getExpertise()}"></span></li>
            </ul>
        </div>
    </div>

    <div id="alinks">
        <p><a th:href="@{/student/create}">Go to account creation</a></p>
        <p><a th:href="@{/notes/read}">View notes without creating an account</a></p>
        <div sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" method="POST" id="logout">
                <a href="javascript:document.forms.logout.submit()">Logout</a>
            </form>
        </div>
	</div>
</body>
</html>