<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome to NoteShare</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}">
</head>
<body class="smallForm">
    <img th:src="@{/images/logo.png}" alt="NoteShare logo" class="logo">
    <h1>Welcome to NoteShare</h1>

    <div id="alinks" class="menu">
        <p><a th:href="@{/students/login}">Continue as Student</a></p>
        <p><a th:href="@{/experts/login}">Continue as Expert</a></p>
        <p><a th:href="@{/notes/read}">View notes only</a></p>
	</div>
</body>
</html>