<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Profile Update | NoteShare</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/styles/style.css}" type="text/css">
</head>
<body class="largeForm">
    <h1>Update your profile</h1>
    <form class="form" method="POST" th:action="@{'/experts/edit/' + ${expert.id}}" th:object="${expert}">
        <!-- Personal Details -->
        <h2 class="form-heading">Personal Details</h2>
        <label for="firstName">First Name</label>
        <input class="long-field" placeholder="First" th:field="*{firstName}" type="text"/>
        <p class="form-label__error" th:errors="*{firstName}" th:if="${#fields.hasErrors('firstName')}">FirstName Error</p>
        <label for="lastName">Last Name</label>
        <input class="long-field" placeholder="Last" th:field="*{lastName}" type="text"/>
        <p class="form-label__error" th:errors="*{lastName}" th:if="${#fields.hasErrors('lastName')}">LastName Error</p>

        <label for="age">Age</label>
        <input class="short-field" th:field="*{age}" type="number"/>
        <p class="form-label__error" th:errors="*{age}" th:if="${#fields.hasErrors('age')}">Age Error</p>

        <div class="clearfix"></div>

        <!-- Account Details -->
        <h2 class="form-heading">Account Details</h2>
        <label for="email">E-mail</label>
        <input class="long-field" th:field="*{email}" type="email"/>
        <p class="form-label__error" th:errors="*{email}" th:if="${#fields.hasErrors('email')}">Email Error</p>

        <label for="username">Username</label>
        <input class="long-field" th:field="*{username}" type="text"/>
        <p class="form-label__error" th:errors="*{username}" th:if="${#fields.hasErrors('username')}">Username Error</p>

        <label for="password">Password</label>
        <input class="long-field" th:field="*{password}" type="password"/>
        <p class="form-label__error" th:errors="*{password}" th:if="${#fields.hasErrors('password')}">Password Error</p>

        <!-- Information on Area of Expertise -->
        <h2 class="form-heading">Information on Area of Expertise</h2>
        <label for="expertise">Field of Expertise</label>
        <input class="long-field" th:field="*{expertise}" type="text"/>
        <label for="years">Years of Experience</label>
        <input class="short-field" th:field="*{yearsOfExperience}" type="number"/>

        <!-- Buttons -->
        <input type="submit" value="Confirm"/>
        <input type="reset" value="Reset"/>
    </form>
</body>
</html>
