<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Expert Login | NoteShare</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/styles/style.css}" type="text/css">
</head>
<body class="smallForm">
    <a th:href="@{/}" title="NoteShare Homepage">
        <img alt="NoteShare logo" class="logo" th:src="@{/images/logo.png}">
    </a>
    <h1>Welcome to NoteShare for Experts</h1>

    <div class="box box__success" th:if="${message}">
        <span th:text="${message}"></span>
    </div>
    <div class="box box__error" th:if="${error}">
        <span th:text="${error}"></span>
    </div>

    <form method="POST" th:action="@{/experts/login}">
        <label for="username">Username</label>
        <input autofocus="autofocus" id="username" name="username" type="text"/>

        <label for="password">Password</label>
        <input id="password" name="password" type="password"/>

        <input type="submit" value="Login"/>
        <input type="reset" value="Reset"/>
    </form>

    <div id="alinks">
        <p><a th:href="@{/experts/register}">Go to account creation</a></p>
        <p><a th:href="@{/notes/read}">View notes without creating an account</a></p>
    </div>
</body>
</html>
