<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Note | NoteShare</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/styles/style.css}" type="text/css">
</head>
<body class="smallForm">
    <h1>Create a new note</h1>
    <form action="#" method="POST" th:action="@{/notes}" th:object="${note}">
        <label for="message">Title</label>
        <input th:field="*{title}" type="text"/>
        <label for="content">Content</label>
        <input th:field="*{content}" type="text"/>
        <!--
        <textarea th:field="*{content}" ></textarea>
        -->
        <label for="content">Subject</label>
        <input th:field="*{subject}" type="text"/>
        <input type="submit" value="Submit"/>
        <input type="reset" value="Reset"/>
    </form>
    <br>
    <p><a th:href="@{/notes/read}">View all notes</a></p>
</body>
</html>
