<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Notes | NoteShare</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/styles/style.css}" type="text/css">
</head>
<body class="listNotes">
    <div th:if="${message}" th:text="${message}"></div>
    <h2>Notes</h2>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Content</th>
                <th>Subject</th>
                <th>Creator</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${published.empty}">
                <td colspan="4">No Notes Available</td>
            </tr>
            <tr th:each="note : ${published}">
                <td><span th:text="${note.title}">Title</span></td>
                <td><span th:text="${note.content}">Content</span></td>
                <td><span th:text="${note.subject}">Subject</span></td>
                <td><a th:href="@{'/profile/' + ${note.author.username}}" th:text="${note.author.username}">Creator</a></td>
                <td sec:authorize="isAuthenticated()" th:if="${#authentication.getPrincipal().getUsername()}==${note.author.username}">
                    <a th:href="@{'/notes/' + ${note.id} + '/edit'}">Edit Note</a>
                </td>
                <td sec:authorize="isAuthenticated()" th:if="${#authentication.getPrincipal().getUsername()}==${note.author.username}">
                    <form th:action="@{'/notes/' + ${note.id}}" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="submit" value="Delete" class="delete">
                    </form>
                </td>
                <td><a th:href="@{'/notes/showNoteReviews/' + ${note.id}}">Show reviews</a></td>
                <td sec:authorize="hasAuthority('expert')">
                	<a th:href="@{'/notes/' + ${note.id} + '/reviews/create'}">Create/Edit Review</a>
   				</td>
            </tr>
        </tbody>
    </table>

    <div sec:authorize="hasAuthority('expert')">
        <h2>Unpublished Notes</h2>
        <table>
            <thead>
            <tr>
                <th>Title</th>
                <th>Content</th>
                <th>Subject</th>
                <th>Creator</th>
                <th>Reviews Count</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${unpublished.empty}">
                <td colspan="3">No Notes Available</td>
            </tr>
            <tr th:each="note : ${unpublished}">
                <td><span th:text="${note.title}">Title</span></td>
                <td><span th:text="${note.content}">Content</span></td>
                <td><span th:text="${note.subject}">Subject</span></td>
                <td><a th:href="@{'/profile/' + ${note.author.username}}" th:text="${note.author.username}">Creator</a></td>
                <td><span th:text="${note.numberOfReviews}">No. Reviews</span></td>
                <td>
                    <a th:href="@{'/notes/' + ${note.id} + '/reviews/create'}">Create/Edit Review</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div sec:authorize="!isAuthenticated()">
        <a th:href="@{/students/login}">Login as student</a>
        <br/>
        <a th:href="@{/experts/login}">Login as expert</a>
        <br/>
    </div>
    <div sec:authorize="hasAuthority('student')">
        <br/>
        <a th:href="@{/notes/create}">Create note</a>
        <br/>
        <a th:href="@{/notes/my}">Show my notes</a>
        <br />
    </div>
	    <div sec:authorize="hasAuthority('expert')">
        <a th:href="@{/reviews/my}">Show my reviews</a>
        <br />
    </div>
    <div sec:authorize="isAuthenticated()">
        <a th:href="@{/profile}">Go to My Profile</a>
        <br/>
        <form th:action="@{/logout}" method="POST" id="logout">
            <a href="javascript:document.forms.logout.submit()">Logout</a>
        </form>
    </div>
    
    <br />
    <b>Note:</b> A note is published if it has at least 2 reviews!
</body>
</html>