<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Show Notes | NoteShare</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}">
</head>
<body class="listNotes">
	<div th:if="${message}" th:text="${message}"/></div>
	<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Subject</th>
            <th sec:authorize="isAuthenticated()">Edit</th>
            <th sec:authorize="isAuthenticated()">Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr th:if="${notes.empty}">
            <td colspan="3"> No Notes Available </td>
        </tr>
        <tr th:each="note : ${notes}">
            <td><span th:text="${note.title}"> Title </span></td>
            <td><span th:text="${note.content}"> Content </span></td>
            <td><span th:text="${note.subject}"> Subject </span></td>
            <td sec:authorize="isAuthenticated()"><a th:href="@{'/notes/update/' + ${note.id}}">Update</a></td>
            <td sec:authorize="isAuthenticated()"><a th:href="@{'/notes/remove/' + ${note.id}}">Delete</a></td>
        </tr>
    </tbody>
	</table>
	<div sec:authorize="isAuthenticated()">
		<a th:href="@{/notes/create}">Create note
		<br>
		<a th:href="@{/students/logout}">Logout
    </div>
    <div id="upLog" sec:authorize="!isAuthenticated()">
		<p><a th:href="@{/students/login}">login as Student</a></p>
        <p><a th:href="@{/experts/login}">login as Expert</a></p>
    </div>
</body>
