<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Note | NoteShare</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/styles/style.css}" type="text/css">
</head>
<body class="smallForm">
<h1>Update note</h1>
<form method="post" th:action="@{'/notes/' + note.id}" th:object="${note}">
	<input type="hidden" name="_method" value="put" />
    <input id="id" th:field="*{id}" type="hidden"/>

    <label for="title">Title</label>
    <input th:field="*{title}" type="text"/>
    <label for="content">Content</label>
    <input th:field="*{content}" type="text"/>
    <label for="subject">Subject</label>
    <input th:field="*{subject}" type="text"/>

    <input type="submit" value="Submit"/>
    <input type="reset" value="Reset"/>
</form>
</body>
</html>