<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Notes | NoteShare</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" th:href="@{/styles/style.css}" type="text/css">
</head>
<body class="listNotes">
    <div th:if="${message}" th:text="${message}"></div>
    <h2>Reviews</h2>
    <table>
        <thead>
            <tr>
                <th>Note Title</th>
                <th>Note Content</th>
                <th>Value</th>
                <th>Comment</th>
                <th>Note Author</th>
                <th>Review Author</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${reviews.empty}">
                <td colspan="7">No Reviews Available</td>
            </tr>
            <tr th:unless="${reviews.empty}" th:each="review : ${reviews}">
                <td><span th:text="${review.note.title}">Title</span></td>
                <td><span th:text="${review.note.content}">Content</span></td>
                <td><span th:text="${review.value}">Value</span></td>
                <td><span th:text="${review.comment}">Comment</span></td>
                <td><a th:href="@{'/profile/' + ${review.note.author.username}}" th:text="${review.note.author.username}">Creator</a></td>
               	<td><a th:href="@{'/profile/' + ${review.expert.username}}" th:text="${review.expert.username}">Creator</a></td>
               	<td sec:authorize="isAuthenticated()" th:if="${#authentication.getPrincipal().getUsername()}==${review.expert.username}">
               		<a class="btn-primary" th:href="@{'/notes/' + ${review.note.id} + '/reviews/edit'}">Edit</a>
               	
               	</td>
               	
                <td sec:authorize="isAuthenticated()" th:if="${#authentication.getPrincipal().getUsername()}==${review.expert.username}">
                    <form th:action="@{'/reviews/' + ${review.note.id} + '/' + ${review.expert.id}}" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <input class="btn-primary delete" type="submit" value="Delete">
                    </form>
                </td>
                
            </tr>
        </tbody>
    </table>

    <div sec:authorize="isAuthenticated()">
        <a th:href="@{/profile}">Go to My Profile</a>
        <br />
        <a th:href="@{/notes/read}">Read Notes</a>
        <br />
        <form th:action="@{/logout}" method="POST" id="logout">
            <a href="javascript:document.forms.logout.submit()">Logout</a>
        </form>
    </div>
</body>
</html>