<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Review | NoteShare</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}">
</head>
<body class="smallForm">
	<h1>Note</h1>
    <form th:object="${note}">
        <input type="hidden" id="id" th:field="*{id}"/>
        <label for="message">Title</label>
         <input type="text" th:field="*{title}" disabled/>
        <label for="content">Content</label>
        <input type="text" th:field="*{content}" disabled/>
        <label for="subject">Subject</label>
        <input type="text" th:field="*{subject}" disabled/>
    </form>

    <form id="right" th:object="${review}" th:action="@{'/notes/' + ${note.id} + '/reviews'}" method="post">
        <input type="hidden" name="_method" value="PUT"/>
        <input type="hidden" th:field="*{id.noteId}"/>
        <label for="value">Value (between 0 and 10)</label>
        <input type="text" th:field="*{value}"/>
        <label for="comment">Comment</label>
        <input type="text" th:field="*{comment}"/>
        <input type="submit" value="Submit"/>
    </form>
</body>
