@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

h1 {
    font-size: 26px;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
}

.form-heading {
    font-weight: bold;
    color: #BEBEBE;
    padding-top: 20px;
    font-size: 20px;
}

.clearfix {
    clear: both;
}

body.largeForm {
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin-top: 60px;
    text-align: center;
}

body.smallForm {
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
    background-color: #F5F5F5;
    margin-top: 180px;
}

body.miniForm {
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
    background-color: #F5F5F5;
    margin-top: 280px;
}

body.listNotes {
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
    background-color: #F5F5F5;
    margin-top: 100px;
}

.listNotes h2 {
   margin-top: 50px; 
}

table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 7px;
    overflow: hidden;
    width: 50%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 20px;
}

table * {
  font-family: 'Source Sans Pro', sans-serif;
}

th {
    font-size: 16px;
    font-weight: bold;
    color: #fff;    
    line-height: 1.2;
    font-weight: unset;
}

table td, table th {
    padding-left: 8px;
    text-align: left;
}

table thead tr {
    height: 60px;
    background: #36304a;
    font-family: OpenSans-Regular;
}

table tbody tr {
    height: 50px;
}

table tbody tr:last-child {
    border: 0;
}

tbody tr {
  font-family: OpenSans-Regular;
  font-size: 15px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:hover {
    color: #555555;
    background-color: #f5f5f5;
}

.largeForm form {
    width: 30%;
    margin: 10px auto;
    padding: 0px 152px 30px 160px;
    margin-top: 0px;
    text-align: left;
    border: 3px #666;
    display: inline-block;
}

.smallForm form {
    margin: 10px auto;
    text-align: left;
    background-color: #FFFFFF;
    padding: 40px 152px 30px 160px;
    border: 3px solid #EEE;
    border-radius: 7px;
    display: inline-block;
}

label {
    margin: 0 0 3px 2px;
    padding: 0px;
    display: block;
    font-weight: bold;
}

input {
    margin-bottom: 15px;
    border: 1px solid #BEBEBE;
    padding: 7px;
    outline: none;
    display: block;
    white-space: nowrap;
}

input[type=submit], input[type=reset] {
    display: inline-block;
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    width: 70px;
    border: none;
    color: #fff;
}

.logo {
    margin-bottom: -60px;
    margin-top: -170px;
    height: 250px;
    width: auto;
}

.long-field {
    width: 95%;
}

.short-field {
    width: 25%;
}

.form .form-label__error {
    color: #da2323;
    font-weight: bold;
    margin-top:-8px;
}

#right {
    background-color: lightblue;
    color: black;
    padding: 40px;
    text-align: right;
    border-left: 10px double green;
}

.menu {
    background-color: #FFFFFF;
    padding: 30px 152px 30px 160px;
    border: 3px solid #EEE;
    border-radius: 7px;
    display: inline-block;
}

.menu p {
    box-sizing: border-box;
    color: #E3E6E8;
    flex-grow: 1;
    width: 100%; 
    padding: 20px 26px; 
    margin: 3px;
    border: solid 3px white;
    background: #CFD9E4;
}

.menu a {
    color: black;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}

.box {
    max-width: 400px;
    margin: 0 auto;
    padding: 1.5em 2em;
    border-radius: 3px;
    font-weight: bold;
}

.box.box__success {
    border: 1px solid #b6dbab;
    background: #d2ecbb;
    color: #4f7938;
}

.box.box__error {
    border: 1px solid #dbabab;
    background: #ecbbbb;
    color: #793838;
}

input[type=text].smallForm {
	white-space: nowrap;
	width:fixed;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

table td {white-space: nowrap;}
table th {white-space: nowrap;}
td input[type="text"] {
	width: 100%;
	overflow:auto;
}